<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Funcionários</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="/portal">Voltar para portal!</a>
            </nav>
            <h1>Lista de Funcionários na empresa</h1>
        </header>
        <main>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>E-mail</th>
                    <th>Contratação</th>
                </tr>
                <tr th:each="f : ${lista}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.nome}"></td>
                    <td th:text="${f.cargo}"></td>
                    <td th:text="${f.departamento}"></td>
                    <td th:text="${f.email}"></td>
                    <td th:text="${f.dataContratacao}"></td>
                </tr>
            </table>
            <br>
            <br>
            <h2>Lista de Funcionarios de Tecnologia</h2>
             <table>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Cargo</th>
                    <th>Departamento</th>
                    <th>E-mail</th>
                    <th>Contratação</th>
                </tr>
                <tr th:each="f : ${filtro}">
                    <td th:text="${f.id}"></td>
                    <td th:text="${f.nome}"></td>
                    <td th:text="${f.cargo}"></td>
                    <td th:text="${f.departamento}"></td>
                    <td th:text="${f.email}"></td>
                    <td th:text="${f.dataContratacao}"></td>
                </tr>
            </table>
        </main>
    </body>
</html>
