<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <h1>Meu Primeiro Portal Spring Boot</h1>
        </header>
        <main>
            <p>
                MVC é um padrão de design organizando o sistema em Model sendo modelo do objeto, View sendo as telas/apresentação para o usuario e Controller um sistema de controle de requisições
            </p>
        </main>
        <a href="/servico">Página servico</a>
        <br>
        <a href="/contato">Página contato</a>
        <br>
        <a href="/portal">Página Inicial</a>
    </body>
</html>
