<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Meu Primeiro Portal Spring Boot</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="/servico">Página servico</a>
                <br>
                <a href="/contato">Página contato</a>
                <br>
                <a href="/portal">Página Inicial</a>
                <br>
                <a href="/perfil">Página perfil</a>
            </nav>
        </header>
            <h1>Meu Primeiro Portal Spring Boot</h1>
        <main>
            <p>
                MVC é um padrão de design organizando o sistema em Model sendo modelo do objeto, View sendo as telas/tudo apresentado para o usuario e Controller um sistema gerenciamento de dados e controle de requisições
            </p>
        </main>
        
    </body>
</html>
